
.app__navbar {
  
  position:fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.55rem 2rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.app__navbar-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
    img{
      object-fit: contain;
      height: 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media screen and (max-width: 350px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      @mixin spin() {
        transition-duration: 1s;
        transition-property: transform;
        transition-timing-function: ease-in-out;
        transform: perspective(1px), translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transform: rotate(360deg);
      }
        &:hover,
        &:focus,
        &:active {
          @include spin();
      }
    }
}

.app__navbar-link{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  list-style: none;

  li{
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;
    a{
      position: relative;
      color: var(--primary-color);
      font-size: 1rem;
      text-decoration: none;
      text-transform:capitalize;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      &:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--purple-color);
        transition: width 0.3s ease-in-out 0s, left 0.3s ease-in-out 0s;
        width: 0;
        }
        &:hover:after { 
          width: 100%; 
          left:0; 
        }
        &:hover { 
          color: var(--purple-color);
        }
    }
 
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}
.app__navbar-resume{
  background-color: var(--lightPurle-color);
  display: flex;
  align-self: center;
  justify-content: flex-start;
  @mixin hollow-hover() {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px), translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background;
    transition-property: background;
    transition: all 0.3s ease-in-out;
  }
  a{
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--purple-color);
  }

  margin-top: 2px;
  color: var(--purple-color);
  border: 1px solid  var(--purple-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  cursor: pointer;
  margin-left: 15px;  
  &:hover, 
  &:focus,
  &:active
  {
    @include hollow-hover();
    background-color: var(--gray-color);
    box-shadow: inset 0em 0em 20em 20em rgba(255, 255, 255, 0.75)
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}
.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color); 
  
  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }
  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem; 
    width: 70%;
    height: 100vh;
    display: flex;
    -webkit-box-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-align: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--bg-gradient);
    transform: translateZ(0);
    will-change: transform;
    box-shadow: 0 0 20px rgba(168,168,168,0.15);
    svg{
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      li {
        margin: 1rem;
        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
      
    }
    @media screen and (min-width: 900px){
      display: none;
    }
    @media screen and (max-width: 420px) {
      width:100%;
      visibility: visible;
    }
  }
   @media screen and (min-width: 900px){
      display: none;
    }
} 
.app__navbar-menu-resume{
  @mixin hollow-hover() {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px), translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background;
    transition-property: background;
        transition: all 0.3s ease-in-out;
  }
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0.3rem;
    margin-top: 5px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    cursor: pointer;
 
  &:hover, 
  &:focus,
  &:active
  {
    @include hollow-hover();
    background-color: var(--secondary-color);
    box-shadow: inset 0em 0em 20em 20em rgba(255, 255, 255, 0.75)
  } 
}
