*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
  min-height: 100vh;
  background-color: var(--bg-gradient);
}
body{  
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-family: var(--font-base);
  image-rendering: optimizeQuality;
}
body{
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--bg-gradient);
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--bg-gradient);
}
body::-webkit-scrollbar-thumb {
  background: var(--secondary-color) ;
  border-radius: 10px;
}


.app__bg-gradient {
  background-color: var(--bg-gradient);
}

.hero-gradient { 
  position: absolute;
  width: 100%;
  height: 100%;
  background-image:
  radial-gradient(at 55% 40%, rgba(101, 101, 255, 0.7) 0px, transparent 35%),
  radial-gradient(at 75% 0%, rgba(214, 101, 255, 0.7) 0px, transparent 40%),
  radial-gradient(at 35% 0%, rgba(158, 114, 255, 0.7) 0px, transparent 40%);
  filter: blur(80px);
  -webkit-filter: blur(80px);
  background-size: contain;
  background-repeat: no-repeat;
}

.gradient-02 {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image:
  radial-gradient(at 19% 85%, var(--gradient-color2) 0px, transparent 14%),  
  radial-gradient(at 86% 21%, var(--gradient-color3)  0px, transparent 12%);
    filter: blur(120px);
    -webkit-filter: blur(120px);
}
.gradient-03 {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 9%;
  top:10%;
  background: rgba(121, 55, 186, 0.55);
  filter: blur(155px);
  transform: rotate(-114.2deg);
}
.footer-gradient {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(120, 202, 249, 0.75);
  filter: blur(125px);
  -webkit-filter: blur(125px);
}
.app__container {
  margin: 0px auto;
  max-width: 1600px;
  height: 100%;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
}
.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;
}
.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--white-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;
  
}
.p-text-sm {
  font-size: 0.7rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--white-color);
  text-align: left;

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
.copyright {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  p {
    text-transform: uppercase;
    color: var(--white-color);
  }
}
.app__social {
  position: relative;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  li {display: inline-block; margin: 0.5rem;}
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(40, 49, 57, var(--tw-bg-opacity-3));

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--white-color);
    }
    
    &:hover, &:focus{
      transform: translateY(-5px) !important;
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
  
      svg {
        color: var(--white-color);
      }
    }

  }
}
.app__scroller-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

}
.magic{
  display: inline-block;
  position: relative;
}
.magic-text {
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
  }
  animation: background-pan 3s linear infinite ;
  background: linear-gradient(
    to right,
    var(--gradient-color1),
    var(--gradient-color2),
    var(--gradient-color3),
    var(--gradient-color1)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.loader-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-gradient);
  -webkit-transition: all 1 ease-in-out;
  -moz-transition: all 1 ease-in-out;
  -ms-transition: all 1 ease-in-out;
  -o-transition: all 1 ease-in-out;
  transition: all 1 ease-in-out;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
   }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}