html, body{
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background: var(--thumbBG) ;
  border-radius: 10px;
  border: 2.5px solid var(--scrollbarBG);
}
.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}

.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}
.app__lightgreybg{
  background-color: var( --lightGray-color);
}

.app__container {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
}
.app__footer-container {
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  background:url("/assets/cloud.svg");
  flex-direction: row;
  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
}
.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_cu{
  display: flex;
  justify-content: left;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}
.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}
.p-text-sm {
  font-size: 0.7rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.3;

  @media screen and (min-width: 2000px) {
    font-size: 1.65rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
  list-style: none;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.5rem 0;
    border: 1px solid var(--lightGray-color);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }
    
    &:hover, &:focus{
      transform: translateY(-5px) !important;
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
  
      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.7rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
.magic{
  display: inline-block;
  position: relative;
}
.magic-text {
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
  }
  animation: background-pan 3s linear infinite ;
  background: linear-gradient(
    to right,
    var(--gradient-color1),
    var(--gradient-color2),
    var(--gradient-color3),
    var(--gradient-color1)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .app__navigation, .app__social 
  {
    display: none;
  }
  .copyright {
    padding: 2rem;
  }
}