@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
:root {
  --font-sans: "DM Sans", sans-serif;
  --font-base: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  /* --font-base: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --primary-color: #e8f3fe;
  --secondary-color: #80b1e3;
  --black-color: #1C1C1E;
  --lightGray-color: #f0f0f0;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --pink-color:#E0C3FC;
  --customised-color: #FAF9F9;
  --lightBlue-color: #c0d8f1;
  --purple-color: #8180E3;
  --brightPurple-color:#a16ae4;
  --lightPurple-color:#8e8de6;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
}

body{
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
	padding: 0;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main{
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
}