.app__works{
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__work-filter{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 0 2rem;
  .app__work-filter-item{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3 ease;
    margin:0.5rem;

    &:hover{
      background-color: var(--secondary-color);
      color: #fff;
    }
    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }
  .item-active{
    background-color: var(--secondary-color);
    color: #000;
  }
}

.app__work-work{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wraps;
  .app__work-item{
    
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  }

}