.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
  
}

.app__work-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0 2rem;

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-weight: 800;

    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
    @media screen and (max-width: 1200px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
      justify-content: center;
      align-items: center;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.app__work-work {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1.5rem 0;
  position: relative;
  .app__work-item {
   
    max-width: 360px;
    margin-top:1rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;

    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

  }
} 

.app__work-img {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    max-height: 180px;
    border-radius: 1rem;
    object-fit: cover;
    overflow: hidden;

  }

}

.app__work-hover {
  overflow-x: hidden;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 1rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--white-color);
    }
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #fff;
    margin: 1rem;
    font-weight: 800;
    transition: all 0.3s ease;
  }
}

.app__work-content {
  flex: 1;
  padding: 1rem 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;

  h4 {  
    margin-top: 1rem;
    line-height: 1.5;

    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 2000px) {
      margin-top: 3rem;
    }
  }
  .app__work-tag {
    position: absolute;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    background-color: var( --primary-color);
    top: -15px;
  }
  .app__work-tech-list{
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 20px 0px 0px;
    li{
      display: flex;
      justify-content: space-around;
      margin-right: 15px;
      color: var(--secondary-color);
      font-weight: 700; 

      white-space: nowrap;
    }
  }
  @media screen and (min-width: 2000px) {
    padding: 0 0.5rem;
  }
}